
.link-button:link,
.link-button:visited,
.link-button:hover,
.link-button:focus,
.link-button:active{
    display: inline-block;
    width: 200px;
    height: 100px;
    color: var(--off-white);
    text-align: center;
    vertical-align: middle;
    line-height: 115px;
    margin: 6px;
    outline: none;
}

#link-block{
    max-width: 500px;
}

.test-box-1{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 5px;
    background-color: var(--carmine-pink);
}

.test-box-2{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 5px;
    background-color: var(--dusty-gold);
}

@media screen and (min-width: 453px) {
    .test-box-2{
        width: 414px;
        height: 150px;
    }
}

.links {
    text-align: center;
}

.link-button:hover {
    border: 2px solid white;
    line-height: 111px;
}

.twitter-button {
    background-color: var(--twitter);
    text-decoration: none;
}

.facebook-button {
    background-color: var(--facebook);
    text-decoration: none;
}

