.link-button:link,
.link-button:visited,
.link-button:hover,
.link-button:focus{
    display: inline-block;
    width: 200px;
    height: 100px;
    color: var(--off-white);
    text-align: center;
    vertical-align: middle;
    line-height: 115px;
    display: inline-block;
    decoration: none;
    text-decoration: none;
    margin: 5px;

}

#link-block{
    max-width: 500px;
}

.test-box-1{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 5px;
    background-color: var(--carmine-pink);
}

.test-box-2{
    display: inline-block;
    width: 250px;
    height: 125px;
    margin: 5px;
    background-color: var(--dusty-gold);
}

.links {
    text-align: center;
}

#link-button{
    width: 200px;
    height: 100px;
    color: var(--off-white);
    text-align: center;
    vertical-align: middle;
    line-height: 115px;
    display: inline-block;
    decoration: none;
    text-decoration: none;
}

.link-button:hover {
    border: 2px solid white;
    line-height: 111px;
}

.twitter-button {
    background-color: var(--twitter);
    text-decoration: none;
}

.facebook-button {
    background-color: var(--facebook);
    text-decoration: none;
}

