@import "https://lipis.github.io/bootstrap-social/bootstrap-social.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"; /* */
@import url(//fonts.googleapis.com/css?family=Indie+Flower);
@import url(//fonts.googleapis.com/css?family=Audiowide);

:root{
    --icy-blue: #6FCDFF;    /* rgb(111,205,255) */
    --light-gray: #848484;  /* rgba(132,132,132, .33) */
    --dark-gray: #2d2d2d;   /* rgb(45,45,45) */
    --dusty-gold: #e8ca8b;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url(../images/Background.png) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; /* */
    background-size: cover;
    /*font-family: 'Indie Flower', 'Comic Sans MS'; /* */
    font-family: 'Audiowide';
    overflow-x: hidden;
    overflow-y: scroll; /* */
}

.container-view {
    padding: 10%;
    height: 100%;
    width: 100%;
    /* */
}

.back-to-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    z-index: 10;
    display: none;
    border-radius: 50%;
    color: var(--dark-gray);
    background-color: var(--dusty-gold);
}

.back-to-top:visited{
    decoration: none;
    color: var(--dark-gray);
}

.back-to-top:hover{
    color: var(--icy-blue);
    background-color: white;
}

.back-to-top i {
    font-size: 75px;
}

#main-container {
    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    background-color: rgba(111,205,255, .6);
    position: relative;
    box-shadow: inset 0px 0px 20px 10px white;
}

#header{
}

#content{
    padding-bottom:10px; /* */
}

#footer {
    color: white;
    /* background-color: blue; /* */
    text-shadow: 1px 1px 3px black, 0px 0px 25px var(--icy-blue), 0px 0px 5px var(--dusty-gold);
    margin: 0 auto;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}

.ng-view{
    margin-top: -10%;
    margin-bottom: -10%;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    decoration: none;
    outline: 0;
}

::selection {
    background: black;
}
::-moz-selection {
    background: black;
}

.container-view p{
    font-size: 18px;
    color: white;
    /*text-shadow: 1px 1px 3px black, 0px 0px 25px blue, 0px 0px 5px darkblue; */
    text-shadow: 1px 1px 3px black, 0px 0px 25px var(--icy-blue), 0px 0px 5px var(--dusty-gold);
}

.ng-view a,
.ng-view a:hover,
.ng-view a:active,
.ng-view a:visited,
.ng-view a:focus {
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 3px black, 0px 0px 25px blue, 0px 0px 5px darkblue;
    text-decoration: none;
    outline: 0;
}

.ng-view a {
    color: white;
}

.ng-view a:hover {
    color: var(--dusty-gold);
    text-decoration: none;
}

.container-view h3 {
    color: var(--dusty-gold);
    text-shadow: 2px 2px black, 0px 0px 25px white;
}

.ng-view iframe {
    max-width: 960px;
    max-height: 540px;

    width: 100%;
    height: calc(70vw * 1080.0 / 1920.0);
    margin: 0 auto;
    box-shadow: 0px 0px 25px white;
}

/*@media only screen and (min-width: 380px) {
    .ng-view iframe{
        max-width: 960px;
        max-height: 540px;
        min-width: 320px;
        min-height: 180px;
        width: 80vw;
        height: 45vw;
        margin: 0 auto;
        box-shadow: 0px 0px 25px white;
    }
} /* */

#logo {
    width: 301.6px;
    height: 110.4px;
}

#video-img {
    width: 150.8px;
    height: 55.2px;
    margin-top: -2%;
}

.subscribe_wrapper {
    margin-top: -17px;
}

textarea {
    resize: none;
}

input, textarea{
    width: 100%;
    color: black;
}

.submit-button {
    width: 100px;
    height: 50px;
    background-color: var(--dark-gray);
    color: var(--dusty-gold);
    border: none;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: var(--icy-blue);
    color: white;
    box-shadow: inset 0px 0px 20px 2px white;
}

.submit-button:active {
background-color: var(--icy-blue);
    color: var(--icy-blue);
    box-shadow: inset 0px 0px 20px 2px white;
}

form {
    width: 85%;
    color: var(--dusty-gold);
    margin: 0 auto;
    margin-top: -10px;
}