
@import "https://lipis.github.io/bootstrap-social/bootstrap-social.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import url(//fonts.googleapis.com/css?family=Indie+Flower);
@import url(//fonts.googleapis.com/css?family=Audiowide);
@import url(//fonts.googleapis.com/css?family=Lato);
@import url(//fonts.googleapis.com/css?family=Bowlby+One);
@import url(//fonts.googleapis.com/css?family=Revalia);

:root{
    --orange: rgba(280,100,29,1.0);
    --purple: rgba(99, 0, 148, 1);
    --icy-blue: #6FCDFF; /*111,205,255 */
    --light-gray: #848484;
    --dark-gray: #2d2d2d;    /* 45,45,45 */
    --dusty-gold: #e8ca8b;   /* rgba(232, 202, 139, 1) */

    --charc-blue: #2f4550;   /* rgba(47, 69, 80, 1) */
    --uh-blue: #586f7c;      /* rgba(88, 111, 124, 1) */
    --off-white: #f4f4f9;    /* rgba(244, 244, 349, 1) */
    --body-text: #000000;    /* rgba(0, 0, 0, 1) */
    --baby-blue: #B8DBD9;    /* rgba(184, 219, 217, 1) */

    --deep-koamaru: #3d315b; /* rgba(61, 49, 91, .25) */
    --deeper-koamaru: #303052; /* rgba(48, 48, 82, .25) */
    --independence: #444b6e; /* rgba(68, 75, 110, .25) */
    --xanadu: #708B75;       /* rgba(112, 139, 117, .25) */
    --peach: #fcd0a1;        /* rgba(252, 208, 161, .25) */
    --laurel-green: #b1b695; /* rgba(177, 182, 149, .25) */

    --sky-blue: #65afff;     /* rgba(101, 175, 255, .25) */
    --un-blue: #5899e2;      /* rgba(88, 153, 226, .25) */
    --licorice: #0e1116;     /* rgba(14, 17, 22, .25) */
    --yankees-blue: #112838; /* rgba(17, 40, 56, .25) */

    --carmine-pink: #e94f37;
    --black-olive: #393e41;
    --tufts-blue: #3f88c5;
    --verdigris: #44bba4;
    --isabelline: #f6f7eb;

    --twitch: #6441A4;
    --youtube-red: #CD201F;
    --twitter: #0084b4;
    --facebook: #3b5998;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Lato';
    min-height: 100%;
    background-color: var(--light-gray);
    /*background-image: url("../images/Background_01_rotated.png");
    background-size: 450px 800px;
    background-repeat: repeat;
    overflow-y: scroll;
    overflow-x: hidden; //*/

    background-image: url("../images/geobackground.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow-y: hidden;
}

@media screen and (min-width: 1335px) {
    body{
        /*background-image: url("../images/Background_01.png");
        background-size: 1600px 900px;
        background-repeat: no-repeat;
        background-attachment: fixed; //*/
        background-image: url("../images/geobackground.png");
        background-size: 1920px 1080px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.container-view {
    padding: 2px;
    height: calc(100vh - 127px);
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    /* */
    overflow-y: auto;
    /* border: 2px solid red; /* */
}

.back-to-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    z-index: 10;
    display: none;
    border-radius: 50%;
    color: var(--dark-gray);
    background-color: var(--dusty-gold);
}

.back-to-top:visited{
    decoration: none;
    color: var(--dark-gray);
}

.back-to-top:hover{
    color: var(--icy-blue);
    background-color: white;
}

.back-to-top i {
    font-size: 75px;
}

#main-container {
    max-width: 1280px;
    margin: 0 auto;
}

.my-container {
    position: relative;
    min-height: 100%;
    padding-bottom: 75px;
}

.header{
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--black-olive);
}

.content{
    margin: 0 auto;
}

.footer {
    color: white;
    text-shadow: 1px 1px 3px black, 0px 0px 25px var(--icy-blue), 0px 0px 5px var(--dusty-gold);
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    background-color: var(--black-olive);
    height: 75px;
    width: 100vw;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    decoration: none;
    outline: 0;
}

::selection {
    background: black;
}
::-moz-selection {
    background: black;
}

.container-view p{
    font-size: 14px;
    color: white;
}

.container-view h3 {
    color: var(--dusty-gold);
}

.live-frame {
    width: 100%;
    height: calc(98vw * 1080.0 / 1920.0);

    max-width: 640px; /* 960 x 540 */
    max-height: 360px; /* 720 x 405 */
    margin: 0;
    box-shadow: 0px 0px 25px white;
}

.home-frame {
    max-width: 640px; /* 960 x 540 */
    max-height: 360px;

    width: 98vw;
    height: calc(98vw * 1080.0 / 1920.0);
    margin: 0 auto;
    box-shadow: 0px 0px 25px white;
}

.frame {
    padding: 0;
}

.ng-view iframe {

}

.subscribe_wrapper {
    padding: 2px;
}

textarea {
    resize: none;
}

input, textarea{
    width: 100%;
    color: black;
}

.submit-button {
    width: 100px;
    height: 50px;
    background: rgba(88, 153, 226, 1);
    color: white;
    border: none;
    margin-top: 10px;
}

.submit-button:hover {
    background: rgba(88, 153, 226, .25);
    width: 120px;
    height: 70px;
    border: 3px solid white;
    margin-top: 0px;
    font-opacity: 1.0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -10px;
}
/*
.submit-button:hover {
    background-color: var(--icy-blue);
    color: white;
    box-shadow: inset 0px 0px 20px 2px white;
} */

.submit-button:active {
    /*background-color: var(--icy-blue);
    color: var(--icy-blue);
    box-shadow: inset 0px 0px 20px 2px white; */
    width: 120px;
    height: 70px;
    background: rgba(88, 153, 226, 1);
    color: white;
    border: 3px solid white;
    margin-top: 0px;
    font-opacity: 1.0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -10px;
}

form {
    width: 85%;
    color: var(--off-white);
    margin: 0 auto;
}

#error {
    color: white;
    background: rgba(255,0,0, .6);
}
/*
.row div {
    color: white;
    text-shadow: 1px 1px 3px black, 0px 0px 25px var(--icy-blue), 0px 0px 5px var(--dusty-gold);
} */

.about {
    display: inline-block;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    /*margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 6px;
    margin-left: 6px; */
    margin: 6px;
    background: var(--off-white);
    /*min-width: 33%;
    min-height: 250px; */
    width: 300px;
    height: 275px;
    position: relative;
    text-align: left;
}

.about-row{
    max-width: 700px;
    text-align: center;
}

.container-view .about-row .about .about-header h3 {
    color: var(--off-white);
    background:var(--tufts-blue);
    text-shadow: none;
    text-decoration: none;
}

.container-view .about-row .about p {
    color: var(--black-olive);
    text-shadow: none;
    text-decoration: none;
}

.about-header {
    /* top-right-bottom-left */
    padding: 2px;
    color: var(--off-white);
    background:var(--tufts-blue);
    bottom: 0;
    position: absolute;
    width: 100%;
    font-family: 'Audiowide';
    text-shadow: none;
    text-decoration: none;
}

.about-body {
    position: absolute;
    top: 0;
    padding: 2px 4px 2px 8px;
    font-family: 'Indie Flower';
}

.red {
    border: 5px solid red;
}

.blue {
    border: 5px solid blue;
}

.live-button {
    width: 200px;
    height: 100px;
    color: var(--off-white);
    border: none;
    display: inline-block;
    margin-bottom: 5px;
}

.live-button:hover {
    border: 2px solid white;
}

.live-youtube {
    background-color: var(--youtube-red);
}

.live-twitch {
    background-color: var(--twitch);
}

.center {
    align: center;
    margin: 0 auto;
}