:root{
    --powder-blue: #9db6e0;
    /* --light-black: #535559; /* */
    --light-black: #2d2d2d;
    --dark-gray: #848484;
    --black: #202123;
    --dusty-gold: #e8ca8b;
    --warning-red: #db0202;
}

/* Header */
header .row,
footer .row{
    display: flex;
    align-items: center;
}

header div a h2{
    margin-left: 10px;
}

header div nav,
#project-view {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

#style-header{
    background-color: var(--light-black);
    color: var(--powder-blue);
}

/* Panels and body */
body{
    background-color: var(--black);
    color: var(--dark-gray);
}

#warning{
    color: var(--warning-red);
}

#synopsis{
    color: var(--powder-blue);
}

#gold-heading{
    color: var(--dusty-gold);
}

.heading{
    margin-top: -10px;
}

.container-view{
    padding: 1.5%;
    overflow: scroll;
    margin-bottom:10px;
}

.navbar-fixed-side-top{
    top: 0;
    position: fixed;
    width: 100%;
}

.navbar-fixed-side-left{
    left:0;
    position: fixed;
    margin-top: -1%px;
    margin-left: 2px;
    width: 100px;
    color: var(--dusty-gold);
    /* border: solid var(--powder-blue) 2px; */
    text-align: center;
}

.navbar-fixed-side-left p{
    border-bottom: solid var(--dark-gray) 1px;
}

.project-information {
    position: relative;
    /* border: solid var(--dusty-gold) 2px; */
    margin-left:100px;
    margin-top: -1%;
}

img {
    max-height: 338px;
    max-width: 600px;
}

/* Links */
.navbar-fixed-top a{
    color: var(--dusty-gold);
    outline: none;
    border: 0;
    text-decoration: none;
}
.navbar-fixed-top a:hover{
    color: white;
} /* */

.navbar-fixed-side-left a{
    color: var(--dusty-gold);
    text-decoration: none;
}
.navbar-fixed-side-left a:hover{
    color: white;
} /* */

footer a{
    color: var(--dark-gray);
    text-decoration: none;
    border: 0;
    outline: none;
}

footer a:hover{
    color: var(--dusty-gold);
}

/* Footer */
footer {
    border-top: solid var(--dark-gray) 1px;
}

.right {
    float: right;
}