.navbar-default {
    background-color: var(--black-olive);
    border-color: var(--black-olive);
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
    color: var(--off-white);
}

.navbar-default .navbar-nav > li > a {
    decoration: none;
    outline: 0;
}

.navbar-default .navbar-nav > li > a:hover{
    color: var(--black-olive);
    background-color: rgba(244, 244, 349, .5);
    /* box-shadow: inset 0px 0px 20px 2px white; */
}

.navbar-default .navbar-nav > li > a:active{
    color: var(--black-olive);
    background-color: var(--off-white);
    /* box-shadow: inset 0px 0px 20px 2px white; */
}

.navbar-right li {
    display: inline-block;
    vertical-align: middle;
}

.navbar-default .navbar-nav li{
    vertical-align: middle;
}

.icon-bar {
    background: var(--dusty-gold) !important;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: var(--dusty-gold);
}

.navbar-default .navbar-toggle:hover {
    border-color: var(--black-olive);
    background-color: rgba(244, 244, 349, .5);
    box-shadow: inset 0px 0px 20px 2px white;
}

.navbar-default .navbar-toggle:hover .icon-bar{
    background: white !important;
}

.navbar-default .navbar-nav .btn-social {
    min-width: 200px;
}

.navbar-brand:link,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited{
    color: var(--off-white);
    decoration: none;
}