<!--<div class="jumbotron text-center">-->
    <!--<h1>About Me</h1>-->
    <!--<p> A boy that grew up into a man loving to play video games with the dreams of making his own some day</p>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row about-row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 about">
            <div class="about-body">
                <p>Gamer and Husband first, Software Engineer second.</p>
                <p>I grew up loving to play video games, so much in fact that I went to College to get my Bachelor's in Computer Science
                    so that I could design my own games.</p>
            </div>
            <div class="about-header" ><h3>WHO</h3></div>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 about">
            <div class="about-header" ><h3>WHAT</h3></div>
            <div class="about-body">
                <p>I play video games!</p>
                <p>I am a software engineer, who likes to think of himself as a gamer.</p>
                <p>If you have any games that you want to see played, just ask!</p>
            </div>
        </div>
    </div>
    <div class="row about-row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 about">
            <div class="about-header" ><h3>WHEN & WHERE</h3></div>
            <div class="about-body">
                <p>I plan to have a video posted at least once every day.</p>
                <p>Saturdays will be set aside for doing a live stream.</p>
                <p>You can watch my videos and live streams on my YouTube channel.</p>
                <p>You can also watch my most recent video and current live stream on my website here!</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 about">
            <div class="about-header" ><h3>WHY</h3></div>
            <div class="about-body">
                <p>For Fun!</p>
                <p>I have always enjoyed playing video games, and I want to share my adventures with you!</p>
            </div>
        </div>
    </div>
</div>