<div class="jumbotron text-center">
    <h1>About Me</h1>
    <p> A boy that grew up into a man loving to play video games with the dreams of making his own some day</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>Who Am I?</h3>
            <div>
                <ul>
                    <li>Gamer and Husband first, Software Engineer second.</li>
                    <li>I grew up loving to play video games, so much in fact that I went to College to get my Bachelor's in Computer Science
                    so that I could design my own games.</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>What Do I Do?</h3>
            <div>
                <ul>
                    <li>I play video games!</li>
                    <li>I am a software engineer, who likes to think of himself as a gamer.</li>
                    <li>If you have any games that you want to see played, just ask!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>When and Where to Watch?</h3>
            <div>
                <ul>
                    <li>I plan to have a video posted at least once every day.</li>
                    <li>Saturdays will be set aside for doing a live stream.</li>
                    <li>You can watch my videos and live streams on my YouTube channel.</li>
                    <li>You can also watch my most recent video and current live stream on my website here!</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>Why Am I Making Videos?</h3>
            <div>
                <ul>
                    <li>For Fun!</li>
                    <li>I have always enjoyed playing video games, and I want to share my adventures with you!</li>
                </ul>
            </div>
        </div>

    </div>
</div>