<!--<div class="jumbotron text-center">-->
    <!--<h1 class="heading" id="gold-heading">Gaming Done Right</h1>-->
    <!--<h2>Time to dispense some justice</h2>-->
<!--</div>-->
<div class="container-fluid">
    <!--<iframe width="640" height="360" src="https://youtube.com/embed/UzL5TFq2AKo"></iframe>-->
    <iframe src="http://player.twitch.tv/?channel=anntagonist"
            height="360" width="640"
            allowfullscreen="true"
            scrolling="no"
            frameborder="0"
            align="middle"></iframe>
</div>