<div class="text-center">
    <div class="container-fluid">
        <div class="row" style="margin-top: 10px;">
            <!--Social Media-->
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12 col-sm-6 col-sm-offset-5">
                    <a href="https://twitter.com/AnntagonistLP" target="_blank" class="link-button twitter-button center">
                        <span class="fa fa-twitter fa-3x"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                    <a href="https://www.facebook.com/anntagonistletsplay" target="_blank" class="link-button facebook-button center">
                        <span class="fa fa-facebook fa-3x"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Video Platforms-->
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12 col-sm-6 col-sm-offset-5">
                    <a href="https://www.youtube.com/channel/UCDMC1CED3dUTfPsALIdDOSg" target="_blank" class="link-button live-youtube center">
                        <span class="fa fa-youtube-play fa-3x"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                    <a href="https://www.twitch.tv/anntagonist" target="_blank" class="link-button live-twitch center">
                        <span class="fa fa-twitch fa-3x"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <!--Donation & Subscriptions-->
        </div>
    </div>
</div>