<div class="text-center">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 links">
                <a href="https://twitter.com/AnntagonistLP" target="_blank" class="link-button twitter-button">
                    <span class="fa fa-twitter fa-3x"></span>
                </a>
                <a href="https://www.facebook.com/anntagonistletsplay" target="_blank" class="link-button facebook-button">
                    <span class="fa fa-facebook fa-3x"></span>
                </a>
                <a href="https://www.youtube.com/channel/UCDMC1CED3dUTfPsALIdDOSg" target="_blank" class="link-button live-youtube center">
                    <span class="fa fa-youtube-play fa-3x"></span>
                </a>
                <a href="https://www.twitch.tv/anntagonist" target="_blank" class="link-button live-twitch center">
                    <span class="fa fa-twitch fa-3x"></span>
                </a>
            </div>
            <!--<div class="col-xs-12">-->
                <!--<div class="col-xs-6 red"></div>-->
                <!--<div class="col-xs-6 blue"></div>-->
            <!--</div>-->


            <!--&lt;!&ndash;Social Media&ndash;&gt;-->
            <!--<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">-->
                <!--<div class="col-xs-12 col-sm-5 col-sm-offset-1">-->
                    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-9 col-sm-offset-3 blue">&ndash;&gt;-->
                    <!--<div>-->
                        <!--<a href="https://twitter.com/AnntagonistLP" target="_blank" class="link-button twitter-button">-->
                            <!--<span class="fa fa-twitter fa-3x"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12 col-sm-5">-->
                    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-9 red">&ndash;&gt;-->
                    <!--<div>-->
                        <!--<a href="https://www.facebook.com/anntagonistletsplay" target="_blank" class="link-button facebook-button">-->
                            <!--<span class="fa fa-facebook fa-3x"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;Social Media&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-xs-12 col-sm-6">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-5">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="https://twitter.com/AnntagonistLP" target="_blank" class="link-button twitter-button center">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="fa fa-twitter fa-3x"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-xs-12 col-sm-6">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-12 col-sm-9 col-md-7">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="https://www.facebook.com/anntagonistletsplay" target="_blank" class="link-button facebook-button center">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="fa fa-facebook fa-3x"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--&lt;!&ndash;Video Platforms&ndash;&gt;-->
            <!--<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">-->
                <!--<div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2-->
                    <!--col-lg-3 col-lg-offset-3 red">-->
                    <!--<div>-->
                        <!--<a href="https://www.youtube.com/channel/UCDMC1CED3dUTfPsALIdDOSg" target="_blank" class="link-button live-youtube center">-->
                            <!--<span class="fa fa-youtube-play fa-3x"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12 col-sm-5 col-md-6 blue">-->
                    <!--<div>-->
                        <!--<a href="https://www.twitch.tv/anntagonist" target="_blank" class="link-button live-twitch center">-->
                            <!--<span class="fa fa-twitch fa-3x"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-12 col-sm-6">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-7 col-md-offset-5">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="https://www.youtube.com/channel/UCDMC1CED3dUTfPsALIdDOSg" target="_blank" class="link-button live-youtube center">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span class="fa fa-youtube-play fa-3x"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-12 col-sm-6">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="ol-xs-12 col-sm-9 col-md-7">&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="https://www.twitch.tv/anntagonist" target="_blank" class="link-button live-twitch center">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span class="fa fa-twitch fa-3x"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--&lt;!&ndash;Donation & Subscriptions&ndash;&gt;-->
            <!--<div class="col-xs-6 red"></div>-->
            <!--<div class="col-xs-6 blue"></div>-->
        </div>
    </div>
</div>