<div class="text-center">
    <div class="container-fluid">
        <div class="row" id="link-block">
            <!--<div class="col-xs-6 blue"></div>-->
            <!--<div class="col-xs-6 red"></div>-->
            <!--<div class="col-xs-12 links">-->
                <a href="https://twitter.com/AnntagonistLP" target="_blank" class="link-button twitter-button">
                    <span class="fa fa-twitter fa-3x"></span>
                </a>
                <a href="https://www.facebook.com/anntagonistletsplay" target="_blank" class="link-button facebook-button">
                    <span class="fa fa-facebook fa-3x"></span>
                </a>
                <a href="https://www.youtube.com/channel/UCDMC1CED3dUTfPsALIdDOSg" target="_blank" class="link-button live-youtube">
                    <span class="fa fa-youtube-play fa-3x"></span>
                </a>
                <a href="https://www.twitch.tv/anntagonist" target="_blank" class="link-button live-twitch">
                    <span class="fa fa-twitch fa-3x"></span>
                </a>

            <!--</div>-->
        </div>

        <!--<div class="row" id="link-block">-->
            <!--<div class="test-box-1"></div>-->
            <!--<div class="test-box-1"></div>-->
            <!--<div class="test-box-2"></div>-->
            <!--<div class="test-box-1"></div>-->
            <!--<div class="test-box-1"></div>-->
        <!--</div>-->
    </div>
</div>