<div class="row text-center">
    <h1 class="heading" id="gold-heading">The Cure</h1>
    <h2>Containing the solution to zombie-idous</h2>
    <h3>What will you do with it?</h3>
</div>

<div class="row">
    <div class="col-sm-6 left">
        <!--suppress XmlDuplicatedId -->
        <h3 id="synopsis">Save the World</h3>
        <div>It has been 37 months since the outbreak, the nation is all but lost, and everyone is just trying to survive.</div>
        <div>Ann has discovered what she believes is the cure to fight the disease that plagues the world.</div>
        <div>It is up to Ann, Johnathan, and Micheal to travel south to the University of Colorado, where the anti-virus
        can be mass produced before it is too late.</div>
    </div>
    <div class="col-sm-6 right">
        <img ng-src="img/baby.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-sm-6 right">
        <h3 id="warning">Be Warned</h3>
        <div>This journey will not be a safe one, those of the dead roam the streets.</div>
        <div>They hunger for the living, and you are oh so much alive.</div>
        <div>Stay alive, save world at all costs.</div>
    </div>
    <div class="col-sm-6 left">
        <img ng-src="img/baby.jpg" />
    </div>
</div>

<div class="row" ng-repeat="detail in details">
    <div ng-show="isEven($index)">
        <div class="col-sm-6 left">
            <h3 id="synopsis">{{ detail.heading }}</h3>
            <div ng-repeat="line in detail.body">{{ line }}</div>
        </div>
        <div class="col-sm-6 right">
            <img ng-src="{{ detail.img }}" />
        </div>
    </div>
    <div ng-show="isEven($index+1)">
        <div class="col-sm-6 right">
            <h3 id="synopsis">{{ detail.heading }}</h3>
            <div ng-repeat="line in detail.body">{{ line }}</div>
        </div>
        <div class="col-sm-6 left">
            <img ng-src="{{ detail.img }}" />
        </div>
    </div>
</div>