<div class="row text-center">
    <h1 id="heading">The Cure</h1>
    <h2>Containing the solution to zombie-idous</h2>
    <h3>What will you do with it?</h3>
</div>

<div class="row">
    <div class="col-xs-6">
        <!--suppress XmlDuplicatedId -->
        <h3 id="synopsis">Save the World</h3>
        <p>It has been 37 months since the outbreak, the nation is all but lost, and everyone is just trying to survive.</p>
        <p>Ann has discovered what she believes is the cure to fight the disease that plagues the world.</p>
        <p>It is up to Ann, Johnathan, and Micheal to travel south to the University of Colorado, where the anti-virus
        can be mass produced before it is too late.</p>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="row">
    <div class="col-xs-6"></div>
    <div class="col-xs-6">
        <h3 id="warning">Be Warned</h3>
        <p>This journey will not be a safe one, those of the dead roam the streets.</p>
        <p>They hunger for the living, and you are oh so much alive.</p>
        <p>Stay alive, save world at all costs.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <!--suppress XmlDuplicatedId -->
        <h3 id="synopsis">Not Only Infected</h3>
        <p>The infected are not the only thing that is dangerous.</p>
        <p>The group will need to defend themselves not only from the infected, but the elements,
        wild animals, and other humans.</p>
        <p>Do what is necessary to stay alive, and keep the cure out of harms way.</p>
    </div>
    <div class="col-xs-6"></div>
</div>