<div class="row text-center">
    <h1 id="heading">The Cure</h1>
    <h2>Containing the solution to zombie-idous</h2>
    <h3>What will you do with it?</h3>
</div>

<div class="row">
    <div class="col-xs-6">
        <p>You have done it, you have found the cure to the virus that has infected the mass majority.</p>
        <p>Now you Johnathan, and Micheal must get to University of Colorado to deliver your findings to those who can distribute it around the nation.</p>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="row">
    <div class="col-xs-6"></div>
    <div class="col-xs-6">
        <h3 id="warning">Be Warned</h3>
        <p>This journey will not be a safe one, those of the dead roam the streets.</p>
        <p>They hunger for the living, and you are oh so much alive.</p>
        <p>Stay alive, save world at all costs.</p>
    </div>
</div>