<div class="container-fluid text-center">
    <!--<iframe width="640" height="360" src="https://youtube.com/embed/UzL5TFq2AKo"></iframe>-->
    <div class="row">
        <a class="azm-social" href="https://www.twitch.tv/anntagonist" target="_blank">
            <span class="fa fa-twitch"></span> Anntagonist Twitch Channel</a>
    </div>
    <div class="row">
        <iframe src="https://player.twitch.tv/?channel=anntagonist" allowfullscreen scrolling="no" frameborder="0" ></iframe>
    </div>
</div>