<div class="text-center">
    <!--<iframe src="https://www.youtube.com/embed/RYX_9S6Dk7w" frameborder="0" allowfullscreen></iframe>-->
    <div class="container-fluid frame">
        <div class="row frame">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 frame">
                <!--<div class="frame">-->
                    <iframe src="https://www.youtube.com/embed/live_stream?channel=UCUGVCyMcHmMdgurifW0OXBg" frameborder="0"
                    scrolling="no" allowfullscreen class="live-frame" id="liveFrame"></iframe>
                <!--</div>-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <!--<div class="col-sm-6 col-md-12" style="margin-top: 10px; margin-bottom: 5px;">-->
                <!--<div style="margin-top: 10px; margin-bottom: 5px;">-->
                    <button type="button" onclick="iframeChange('twitch')" class="live-button live-twitch center" style="margin: 5px;">
                        <span class="fa fa-twitch fa-3x"></span>
                    </button>
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-12" style="margin-top: 10px; margin-bottom: 10px;">-->
                <!--<div style="margin-top: 10px; margin-bottom: 10px;">-->
                    <button  onclick="iframeChange('youtube')" class="live-button live-youtube center" style="margin: 5px;">
                        <span class="fa fa-youtube-play fa-3x"></span>
                    </button>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>